.class-reg{
    border: 5px solid blue;
    height: 100%;
}
.dept-menu{
    border: 1px solid red;
}
.classes{
    border: 1px solid green;
    background-color: white;
}
.schedule{
    border: 1px solid brown;
}
h1{
    text-align: left;
}
.form-control{
    width: 200px !important;
}
.btn-default{
    margin: 5px;
}
table{
    width: 100%;
}
table, tr{
    border: 1px solid black;    
}
td{
    width: 145px;
    text-align: center;
    border: 1px dotted red;
}
html body table th{
    border: 1px solid purple;
    width: 125px;
    text-align: center;
    padding: 10px;
}
.course-details{
    border: 1px solid orange;
}

